*{
    //border: solid 1px grey;
}

//header
.navbar-brand{
    font-size: 25px;
}
.iconoCarrito{
    font-size: 30px;
    margin-right: 20px; 
    color: rgb(134, 133, 133);
}
#contadorCarrito{
    color: rgb(134, 133, 133);
    font-size: 20px;
    
}
.barra{
    background-color: rgb(238, 234, 234);
    padding: 5px;
    .buscador{
        #inputBusqueda{
            width: 90px;
        }
    }
    .lupita{
        font-size: 1.4rem;
        color: rgb(134, 133, 133);
    }
}


// body
main{
    .itemList{
        div{
            width: 100px;
            overflow: hidden;
            margin: 5px;
            padding: 10px;
        }
        .contenedorItem{
            background-color: rgb(162, 203, 226);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            .imagenItem{
                width: 60px;
            }
        }
    }
}

// footer
footer{
    background-color: rgb(238, 234, 234);
}